<section class="hero-section" id="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
      <p class="hero-subtitle">
        Slip into ArtistsHub — a calm universe of music, movies, and books. An
        AI guide keeps a small light on while you discover and learn, all in one
        place.
      </p>
      <a href="#artists-section" id="exploreBtn" class="hero-btn">
        Explore Artists
        <svg class="icon-play-btn" width="24" height="24">
          <use href="/img/sprite.svg#icon-icon_play_hero_section"></use>
        </svg>
      </a>
    </div>
    <div class="hero-img"></div>
  </div>
</section>
